#dieType .popup-content{
	/*background-color: #FCF5E5;
	background: repeat url("../images/parchment.jpg");*/
    width: 350px;
}

#dieType .dieTypeTitle {
  display: block;
  text-align: center;
}

#dieType .terms .dice-term .dice-term-input {
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}

#dieType .terms .dice-term-faces {
  text-align: center;
}

#dieType .diceTypes {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 95%;
  justify-content: space-around;
}

#dieType .terms .dice-term.fulfilled {
  border:2px solid limegreen;
}

#dieType .terms .godice-module-flavor {
  position: absolute;
  font-size: var(--font-size-12);
  bottom: 0;
  border-bottom: solid 1px black;
}

#dieType .terms .diceTypeIcon {
	width: 40px;
	height: 40px;
	align-self: center;
	border:none;
}

#dieType .diceTypeSelect {
    width: 60%;
    font-size: x-large;
    text-align: center;
}